* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: jetbrains mono, monospace;
}

body {
  background-color: aliceblue;
  padding-top: 100px;
}

header {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

header img {
  height: 50px;
  margin-right: 16px;
}

header h1 {
  font-size: 24px;
  font-weight: bold;
}

.container {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}

form {
  display: flex;
  max-width: 680px;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 50px;
}

form input {
  padding: 8px;
  background-color: white;
  font-size: 24px;
  border: none;
  border-bottom: 2px solid black;
}

form button {
  background-color: green;
  color: white;
  font-size: 24px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  padding: 8px;
}

form button:hover {
  background-color: darkgreen;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th {
  border-bottom: 1px solid black;
  padding: 8px;
  text-align: center;
}

table td {
  border-bottom: 1px solid rgb(0, 0, 0, 0.1);
  padding: 16px 0px;
  text-align: center;
  font-size: 18px;
}

table td img {
  height: 24px;
}

.resultado {
  background-color: #000;
  padding: 8px;
  font-weight: bold;
  color: white;
  border-radius: 3px;
}

.aprovado {
  background-color: green;
}

.reprovado {
  background-color: red;
}